@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-neutral-500 select-none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.modal-enter {
  @apply duration-200 ease-out;
  animation-name: slideIn;
}

.modal-leave {
  @apply duration-150 ease-in;
  animation-name: slideOut;
}

/* Qrcode Styles */

/*Container */
#html5qr-code-full-region {
  @apply border-none !important;
}
#html5qr-code-full-region, #html5qr-code-full-region__scan_region video {
  @apply mx-auto w-full rounded-xl -mt-3 !important;
}

/*Qr Icon*/
#html5qr-code-full-region__scan_region {
  @apply flex justify-center items-center px-0 !important;
}
/*Scan Button*/
#html5qr-code-full-region__dashboard_section_csr {
  @apply mb-5 mx-auto w-56 bg-black/20 py-3 rounded-lg hover:bg-black/50 !important;
}
/*Scan Qr image file*/
#html5-qrcode-anchor-scan-type-change {
  @apply no-underline bg-black/50 p-2 rounded;
  text-decoration: none !important;
}
